@model PieListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach (var pie in Model.Pies)
{
    <div class="col">
        <div class="card pie-card">
            @{
                ViewData["showMoreInfo"] = true;
            }
            <partial name="_PieCard" model="pie" view-data="ViewData"/>
        </div>
        
    </div>
}
</div>
