<div class="my-5">
    <h3 class="mb-4">Enter your search query:</h3>
    <input id="txtPieName" type="text" />
    <button id="searchButton" class="btn btn-secondary">Search</button>
</div>
<table id="tblPies" cellpadding="0" cellspacing="0"><tbody></tbody></table>


<script type="text/javascript">
    $(document).ready(function(){
      $("button").click(function(){
        const searchQuery = $.trim($("#txtPieName").val());
        $("table tbody").html("");
        $.ajax({
            type: "POST",
            url: "/api/Search",
            data: "\"" + searchQuery + "\"",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (pies) {
                const table = $("#tblPies");
                table.find("tr:not(:first)").remove();
                $.each(pies, function (i, pie) {
                    $("tbody").append($("<tr>"));
                    const appendElement = $("tbody tr").last();
                    appendElement.append($("<td>").html('<img src="' + pie.imageThumbnailUrl + '" alt="' + pie.name + '" width=250 class="rounded m-2"/>'));
                    appendElement.append($("<td>").html('<h2><a href="/pie/details/' + pie.pieId + '" class="pie-link">' + pie.name + '</a></h2>'));
                });
            },
            error: function (xhr, status, error) {
                    console.log(xhr)
            }
        });
      });
    });

</script>